.date {
    margin-top: 60px;
    padding-left: 170px;
    font-size: 15px;
}

.time {
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 80px;
}

.footer {
    margin-left: 710px;
}

.direct {
    margin-left: 200px;
}